@font-face {
    font-family: 'Fredoka One';
    src: url('FredokaOne-Regular.woff2') format('woff2'),
        url('FredokaOne-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

