//natalia
//basic app styles

.card {
    border:2px solid $mainLightBlue;
    border-radius: 20px;
    width:18em;
    .card-img-top{
        width:95%;
        height:16em;
        border-radius: 20px;
    }
    .card-body{
        img{
            width:2.5em;
            height:2.5em;
            border-radius: 50%;
        }
        .avatarSkin{
            border:3px solid $mainLightBlue;
        }
    }

}

// icon css style

.icons{
  height: 20px;
}

.icons:hover{
  cursor: pointer;
}

//homePage basic styles

.homePageDiscription em{
  font-family: 'Fredoka One';
  color: $mainLightOrange;
}

.paraLogIn{
  font-family: 'Fredoka One';
  color: $mainLightBlue;
}

.homeParaStartAdventure{
  color: #A2C76A;
}

.arrowBtn{
  color: $mainLightBlue;
  font-family: 'Fredoka One';
}

.hideSeekExitMessage{
  top: 10%;
  left: 70%;
  position: absolute;
  font-family: 'Fredoka One';
}

.hideSeekMessageText{
  top: 30%;
  left: 10%;
  position: absolute;
  color: $mainLightBlue;
  font-family: 'Fredoka One';
}

.hideSeekExitMessage:hover{
  cursor: pointer;
  color: $mainLightOrange;
}

#vineImg{
  right: 0%;
  top: 55%;
  position: absolute;
  height: 200px;
}



#signUpHomePage{
  margin-left: 30px;
}



//end of homePage basic styles
