//natalia
//basic app styles

.card {
    border-radius: 20px;
    width:18em;
        .card-img-top{
            width:95%;
            height:16em;
            border-radius: 20px;
        }
        .card-body{
            img{
                width:2.5em;
                height:2.5em;
                border-radius: 50%;
            }

        }

    }

.closeModalStructure{
    border-radius: 10px;
    width:1.5em;
    height:1.5em;
}

//start of styles for about page

.aboutPhoto{

}

//end of styles for about page

//start of styles for add photo page

.addPhoto {
  
}

//end of styles for add photo page
