//Natalia's code

@mixin headline ($f, $s, $c) {
    font-family: $f!important;
    color:$c!important;
    font-size:$s!important;
}

h1{
    @include headline('Fredoka One', 2em, $c:$mainLightOrange);
}
h2{
    @include headline('Fredoka One', 1em, $c:$black);
}
h3{
    @include headline('Fredoka One', 1em, $mainLightOrange);
}

@mixin buttonSkin ($f,$b,$c){
    font-family:$f!important;
    border:$b!important;
    background-color:$c!important;
}



.btn-primary{
    font-size: 20px;
    @include buttonSkin('Fredoka One', none, $mainLightBlue);
}

.btn-login{
  font-size: 20px;
  @include buttonSkin('Fredoka One', none, none);
  color:$mainLightBlue!important;
}

.btn-about{
  font-size: 20px;
  @include buttonSkin('Fredoka One', none, $mainLightBlue);
}

.btnPrimaryBlackFont{
    @include buttonSkin('Fredoka One', none, $mainLightBlue);
    color:$black!important;
}

.btn-warning{
    @include buttonSkin('Fredoka One', none, $mainLightOrange);
}
