//Natalia's code

@mixin headline ($f, $s, $c) {
    font-family: $f!important;
    color:$c!important;
    font-size:$s!important;
}

h1{
    @include headline('Fredoka One', 2em, $c:$mainLightOrange);
}
h2{
    @include headline('Fredoka One', 1em, $c:$black);
}
h3{
    @include headline('Fredoka One', 1em, $mainLightOrange);
}

@mixin buttonSkin ($f,$b,$c){
    font-family:$f!important;
    border:$b!important;
    background-color:$c!important;
}


.btn-primary{
    font-size: 20px;
    @include buttonSkin('Fredoka One', none, $mainLightBlue);
}

.btn-login{
  font-size: 20px;
  @include buttonSkin('Fredoka One', none, none);
  color:$mainLightBlue!important;
}

.btn-about{
  font-size: 20px;
  @include buttonSkin('Fredoka One', none, $mainLightBlue);
}

.btnPrimaryBlackFont{
    @include buttonSkin('Fredoka One', none, $mainLightBlue);
    color:$black!important;
}


// jacob's code

@mixin iconSkin ($b,$c,$h,$w){
  border-radius:$b!important;
  background-color:$c!important;
  height:$h!important;
  width:$w!important;
}

.hideAndSeekIcon{
  @include iconSkin(25px, $mainLightBlue,50px,50px);
  display:flex;
  align-items: center;
  justify-content: center;
  left: 10%;
  top: 75%;
  position: absolute;
}

.soundIcon{
  @include iconSkin(25px, $mainLightOrange,40px,40px);
  display:flex;
  align-items: center;
  justify-content: center;
  left: 30%;
  top: 40%;
  position: absolute;
}

.homePageArrowDownBtn{
  @include iconSkin(25px, $white,30px,30px);
  left: 50%;
  transform: translate(-50%);
  position: absolute;
}
