//natalia
//this file is for theme - to include only skin styles
//THEME - Colors, Fonts, Shadows, Gradients
//IMPORTANT - use other partials for Height, Width, Margins, Padding, Overflow

$mainBackgroundLight:#faf2e8;
$mainLightBlue: #6fc7e1;
$mainLightOrange: #FFA883;
$white: #ffffff;
$black: #000000;

body {
    background-color: $mainBackgroundLight;
}

@font-face {
    font-family: 'Fredoka One';
    src: url('../fonts/FredokaOne-Regular.woff2') format('woff2'),
        url('FredokaOne-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.navbar, .jumbotron {
    background-color: $mainBackgroundLight;

}
.navbar{
  z-index: 1000;
  top: 0;
  left: 0;
  position: absolute;
  position: fixed;
  height:150px;
  width: 100%;
  box-shadow: none!important;
  display: flex;
  justify-content: space-between ;
}
.navBlock{
  height:150px;
  width: 100%;
}
.hello{
   font-family: 'Fredoka One'; 
}
.modal-content{
    border:3px solid $black;
}
.borderNone{
    border:none!important;
}
.cardSkin{
    border:2px solid $mainLightBlue;
}
.avatarSkin{
    border:3px solid $mainLightBlue;
}
.closeModalSkin{
    border: 2px solid $mainLightBlue;
    background-color: $mainLightBlue;
}
.form-control{
    border:1px solid $black!important;
}





