@import 'theme';
@import 'variables';
@import 'base';
@import 'media';
@import 'mixins';
@import 'animation';

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

button{
  background: none;
  border: none;
}
